html, body{

height:100%;
width:100%;
}

table{
	margin-right: auto;
	margin-left: auto;
	width:100%;
}
td{
	width:50%;
}

#map{
	height:100%;
	position:relative;
/*	z-index:-1;*/
}


a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}	
.gm-bundled-control .gmnoprint {
    display: block;
}


.teamtable li{
	display:block;
}
/* draggable targets */
[data-draggable="target"]
{
    float:center;
    list-style-type:none;
    
    width:100%;
    height:7.5em;
    overflow-y:auto;
    
    margin:0 0.5em 0.5em 0;
    padding:0.5em;
    
    border:2px solid #888;
    border-radius:0.2em;
    
    background:#ddd;
    color:#555;
}

/* draggable items */
[data-draggable="item"]
{
    display:inline-block;
    list-style-type:none;
    width:auto;
    
/*    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;*/
    
    line-height:1.3;
}


#gamestart {
	width: 400px;
	margin: 50px auto;
	top:20%;
	left:30%;
	text-align: center;
	position: absolute;
	z-index:99999999;
}
#gamestart fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#gamestart fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#gamestart input, #gamestart textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#gamestart .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#gamestart .action-button:hover, #gamestart .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
h2 {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
h3{
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}


.gameplayButton {
	font-family: montserrat;
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#gameplayCatch {
	display: none;
	width: auto;
	margin: 50px auto;
	top:80%;
	left:10%;
	text-align: center;
	position: absolute;
	z-index:99999999;
}


#gameplayRelease {
	display: none;
	width: auto;
	margin: 50px auto;
	top:80%;
	left:60%;
	text-align: center;
	position: absolute;
	z-index:99999999;
} 

#gameplayHeader {
	display: none;
	width: auto;
	margin: 50px auto;
	top:20%;
	left:30%;
	text-align: center;
	position: absolute;
	z-index:99999999;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: auto;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;

} 